Repository XanaduAI/MrMustard, pull requests merged in 2024-10, with the labels that each got.

#472 Sampler
  .gitignore
  mrmustard/lab_dev/circuit_components.py
  mrmustard/lab_dev/samplers.py
  mrmustard/lab_dev/states/base.py
  mrmustard/lab_dev/transformations/base.py
  mrmustard/math/parameter_set.py
  tests/test_lab_dev/test_circuit_components.py
  tests/test_lab_dev/test_circuits.py
  tests/test_lab_dev/test_samplers.py
  tests/test_lab_dev/test_states/test_states_base.py
  tests/test_math/test_parameter_set.py
  tests/test_utils/test_serialize.py
Labels: no changelog

#495 Symplectic override on Ggate
  mrmustard/lab_dev/transformations/ggate.py
  tests/test_lab_dev/test_transformations/test_ggate.py
Labels: enhancement, no changelog, Review effort [1-5]: 2, tests

#500 c of BtoPS
  mrmustard/physics/triples.py
  tests/test_lab_dev/test_circuit_components_utils.py
  tests/test_lab_dev/test_states/test_states_base.py
  tests/test_lab_dev/test_transformations/test_cft.py
  tests/test_physics/test_ansatz.py
  tests/test_physics/test_triples.py
Labels: no changelog

#501 Cleanup MrM settings
  mrmustard/utils/settings.py
Labels: enhancement, no changelog, Review effort [1-5]: 2, tests

#499 adds padding when num poly wires is different
  mrmustard/physics/ansatze.py
  tests/test_physics/test_ansatz.py
Labels: enhancement, no changelog, tests, Review effort [1-5]: 3

#502 New broadcasted gaussian integrals
  mrmustard/math/backend_tensorflow.py
  mrmustard/physics/gaussian_integrals.py
  mrmustard/physics/representations.py
  mrmustard/physics/triples.py
  tests/test_lab_dev/test_circuit_components_utils.py
  tests/test_physics/test_gaussian_integrals.py
  tests/test_physics/test_representations.py
Labels: enhancement, no changelog, Review effort [1-5]: 4, tests

#508 Bugfix: c broadcasting in gaussian integral
  mrmustard/physics/gaussian_integrals.py
  tests/test_physics/test_gaussian_integrals.py
Labels: no changelog, Review effort [1-5]: 2, tests, Bug fix

#507 Rshift order bugfix
  mrmustard/lab_dev/circuit_components.py
  tests/test_lab_dev/test_circuit_components.py
Labels: no changelog, Review effort [1-5]: 2, tests, Bug fix

#497 BtoQ and BtoPS inverse, adjoint and dual
  mrmustard/lab_dev/circuit_components_utils/b_to_ps.py
  mrmustard/lab_dev/circuit_components_utils/b_to_q.py
  mrmustard/lab_dev/circuits.py
  tests/test_lab_dev/test_circuit_components_utils.py
  tests/test_lab_dev/test_circuit_components_utils/test_b_to_ps.py
  tests/test_lab_dev/test_circuit_components_utils/test_b_to_q.py
  tests/test_lab_dev/test_circuit_components_utils/test_trace_out.py
Labels: enhancement, no changelog, tests, Review effort [1-5]: 3

#512 Bump `rich` dependency to version 13
  .codecov.yml
  .coveragerc
  .github/CHANGELOG.md
  Makefile
  poetry.lock
  pyproject.toml
  pytest.ini
Labels: Review effort [1-5]: 1

#511 Gaussian random noise channel
  mrmustard/lab_dev/transformations/__init__.py
  mrmustard/lab_dev/transformations/gaussrandnoise.py
  mrmustard/physics/triples.py
  tests/test_lab_dev/test_transformations/test_gaussrandnoise.py
  tests/test_physics/test_triples.py
Labels: no changelog

#510 separated ket dm from base
  mrmustard/lab_dev/states/__init__.py
  mrmustard/lab_dev/states/base.py
  mrmustard/lab_dev/states/coherent.py
  mrmustard/lab_dev/states/displaced_squeezed.py
  mrmustard/lab_dev/states/dm.py
  mrmustard/lab_dev/states/ket.py
  mrmustard/lab_dev/states/number.py
  mrmustard/lab_dev/states/quadrature_eigenstate.py
  mrmustard/lab_dev/states/sauron.py
  mrmustard/lab_dev/states/squeezed_vacuum.py
  mrmustard/lab_dev/states/thermal.py
  mrmustard/lab_dev/states/two_mode_squeezed_vacuum.py
  mrmustard/lab_dev/states/vacuum.py
  tests/test_lab_dev/test_states/test_dm.py
  tests/test_lab_dev/test_states/test_ket.py
  tests/test_physics/test_ansatz.py
Labels: enhancement, no changelog, Review effort [1-5]: 4

#505 Speed up TF tests
  mrmustard/lab/abstract/state.py
  mrmustard/lab_dev/samplers.py
  mrmustard/lab_dev/states/dm.py
  mrmustard/lab_dev/states/ket.py
  mrmustard/physics/ansatze.py
  tests/test_math/test_compactFock.py
Labels: enhancement, no changelog, tests, Review effort [1-5]: 3

#506 Fix the custom_gradient issue with hermite_renormalized
  .github/CHANGELOG.md
  Makefile
  mrmustard/lab_dev/circuit_components.py
  tests/conftest.py
  tests/test_lab/test_circuit.py
  tests/test_lab/test_detectors.py
  tests/test_lab/test_gates_fock.py
  tests/test_lab/test_state.py
  tests/test_lab_dev/test_circuit_components.py
  tests/test_lab_dev/test_circuit_components_utils/test_b_to_ps.py
  tests/test_lab_dev/test_circuit_components_utils/test_b_to_q.py
  tests/test_lab_dev/test_circuit_components_utils/test_trace_out.py
  tests/test_lab_dev/test_circuits.py
  tests/test_lab_dev/test_samplers.py
  tests/test_lab_dev/test_states/test_number.py
  tests/test_lab_dev/test_states/test_quadrature_eigenstate.py
  tests/test_lab_dev/test_states/test_sauron.py
  tests/test_lab_dev/test_states/test_states_visualization.py
  tests/test_lab_dev/test_states/test_thermal.py
  tests/test_lab_dev/test_transformations/test_amplifier.py
  tests/test_lab_dev/test_transformations/test_cft.py
  tests/test_lab_dev/test_transformations/test_dgate.py
  tests/test_lab_dev/test_transformations/test_ggate.py
  tests/test_lab_dev/test_transformations/test_s2gate.py
  tests/test_lab_dev/test_transformations/test_transformations_base.py
  tests/test_lab_dev/test_wires.py
  tests/test_math/test_backend_manager.py
  tests/test_math/test_lattice.py
  tests/test_math/test_parameter_set.py
  tests/test_math/test_parameters.py
  tests/test_math/test_tensor_networks/test_integration.py
  tests/test_math/test_tensor_networks/test_networks.py
  tests/test_math/test_tensor_networks/test_tensors.py
  tests/test_math/test_xptensor.py
  tests/test_physics/test_ansatz.py
  tests/test_physics/test_bargmann.py
  tests/test_physics/test_gaussian/test_symplectics.py
  tests/test_physics/test_gaussian_integrals.py
  tests/test_physics/test_representations.py
  tests/test_physics/test_wigner.py
  tests/test_training/test_callbacks.py
  tests/test_training/test_opt.py
  tests/test_training/test_riemannian_opt.py
  tests/test_utils/test_logger.py
  tests/test_utils/test_serialize.py
  tests/test_utils/test_settings.py
  tests/test_utils/test_typing.py
Labels: enhancement, tests, Review effort [1-5]: 3

#514 Channel from XY
  mrmustard/lab_dev/transformations/base.py
  mrmustard/physics/triples.py
  tests/test_lab_dev/test_circuit_components_utils/test_trace_out.py
  tests/test_lab_dev/test_states/test_dm.py
  tests/test_lab_dev/test_states/test_ket.py
  tests/test_lab_dev/test_transformations/test_transformations_base.py
  tests/test_physics/test_ansatz/test_array_ansatz.py
  tests/test_physics/test_ansatz/test_polyexp_ansatz.py
  tests/test_physics/test_representations.py
  tests/test_physics/test_triples.py
Labels: no changelog
